
html{
background-color : #250001;
height: 100vh;
}
.main{
margin-top: 20vh;
}
ul{
text-align: center;
width : 70vw;
}
li{
list-style-type : none;
text-align:center;
}
.imgCarousel{
width : 70vw;
height: 60vh;
size: cover;
}
.displayNone{
display: none;
}
i.previous{
margin-top: 30vh;
background-color: #FCBA04;
}
i.next{
margin-top: 30vh;
background-color: #FCBA04;

}
