* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}
li{
text-align: center;
}
img{
width : 70vw;
}
.display{
display: none;
}