
.main{
margin-top: 5vh;
}
ul{
text-align: center;
width : 70vw;
}
li{
list-style-type : none;
text-align:center;
}
.imgCarousel{
width : 70vw;
height: 70vh;
}
.displayNone{
display: none;
}
i.previous{
margin-top: 30vh;
}
i.next{
margin-top: 30vh;

}
